<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class ="display-6">Here you will find the right tools for your job, or choose the best offer from our contractors.
        Register <a href="https://localhost:7159/User/Register">here</a> and find what suits you up
    </h2>
*@</div>
