@using ContractorsHub.Core.Models.Tool

@model ToolModel

@{
    ViewBag.Title = "Add Tool";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_ToolFormPartial" model="@Model" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}