@model TotalRatingModel

@{
    ViewBag.Title = $"Contractor {Model.ContractorId} rating";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="d-flex justify-content-center">
    <div class="card " style="width: 50rem;">
        <div class="card-body">
            <h3 class="card-title text-center">@Model.ContractorId</h3>
            <p class="card-text"><span class="fw-bold">Rating: </span>@(String.Format("{0:f2}", Model.TotalPoints)) / 5 (@Model.TotalRates Completed Jobs)</p>
        </div>
    </div>
</div>